<a href="https://colab.research.google.com/github/guravharshvardhan/oop/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
scores=np.array([50,80,90,60,75,85])
normalized_scores=(scores-np.min(scores))/(np.max(scores)-np.min(scores))
print("normalized scores",normalized_scores)

normalized scores [0.    0.75  1.    0.25  0.625 0.875]

In [2]:
import numpy as np
arr=np.array([1,2,2,3,3,4,4,4,4])
most_frequent_value=np.bincount(arr).argmax()
print("most frequent value",most_frequent_value)

most frequent value 4

In [3]:
qantities=np.array([10,15,7,20])
prices=np.array([50,40,100,30])
total_revenue=np.sum(qantities*prices)
print("total revenue",total_revenue)

total revenue 2400

In [4]:
marks=np.array([35,60,42,75,29,90,55])
passed_marks=marks[marks>=40]
print("passed marks",passed_marks)

passed marks [60 42 75 90 55]

In [5]:
import numpy as np
sales = np.array([1000, 1200, 1500, 1800, 2000, 2100, 2500, 2700])
sales_2d = sales.reshape(4, 2)
print("Reshaped Sales Data (4x2):")
print(sales_2d)

Reshaped Sales Data (4x2):
[[1000 1200]
 [1500 1800]
 [2000 2100]
 [2500 2700]]

In [6]:
sales=[5000,7000,8000,6500,7200,9000,8500]
highest_sales=max(sales)
lowest_sales=min(sales)
print("highest sales:",highest_sales)
print("lowest sales:",lowest_sales)

highest sales: 9000
lowest sales: 5000